<!-- 分类主页面 -->
<h1 style="padding-top: 30px;padding-bottom: 30px;text-align: center;">
    <%= theme.prompt.category%>
</h1>

<div class="categoryContainer">
    <%- categories_folder(); %>
</div>

<div class="categoryRightPicture">
</div>