<!-- 分类主页面 -->
<h1 style="padding-top: 30px;padding-bottom: 30px;text-align: center;">
    <%= theme.prompt.category%>
</h1>

<div class="categoryContainer">
    <% if(categories_folder_buf()==0){%> 
        <%- categories_folder(site.posts,null); %>
    <% }else{ %>
        <%- categories_folder(null,null);  %>
    <% } %>
</div>

<div class="categoryRightPicture">
</div>