archiveContent{
    width: 80svw;
    min-width: 800px;
    display:block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.archives{
    margin-left: 1%;
}

.archiveMonths{
    margin-top: 5px;
    font-size: var(--arcText);
}

.archiveArticlesBox{
    max-width: 1000px;
    position: relative;
    margin: 10px;
}

.archiveArticlesTitle{
    max-width: 900px;
}

.archiveArticlesDate{
    position: absolute;
    right: 0;
    bottom: 0;
}