archiveContent{
    width: 80svw;
    min-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.archives{
    width: 100%;
}

.archiveMonths{
    margin-top: 50px;
    font-size: var(--arcText);
}

.archiveArticlesBox{
    position: relative;
    margin: 10px;
}

.archiveArticlesTitle{
    max-width: 900px;
}

.archiveArticlesBox a{
    display: inline-block;
}

.archiveArticlesDate{
    border-left: 2px dashed black;
    padding-left: 3px;
    display: inline-block;
}