.categoryTitles,
.categoryPostTitles {
    font-size: var(--arcText);
}

.categoryTitles {
    border: 1px solid;
    margin-bottom: 4px;
    box-sizing: border-box;
    width: 80vw;
}

.categoryPostTitles {
    max-width: 900px;
    display: block;
}

.categoryTitles_chosen{
    border-left: 2px solid;
    padding-left: 10px;
}

.categoryContainer{
    width: 80svw;
    min-width: 800px;
    padding: 0%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.categoryRightPicture{
    width: 290px;
    height: 615px;
    position: absolute;
    right: min(40%,150px);
    bottom: 120px;
    background-image: url("../img/zunhui.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}