#indexTitle {
    text-decoration: overline;
    /* padding-top: 20px; */
    /* font-size: 3rem; */
    text-align: center;
}

#articles {
    padding-left: 3%;
    padding-right: 5%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articleBox {
    width: 60vw;
    min-height: 8rem;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: all 0.5s ease-in-out;
}

.articleBox:hover{
    border: 2px solid var(--txtcolor);
}

.articleTitle {
    font-size: 2.2rem;
    font-weight: 500;
    word-wrap: break-word;
}

.articleBoxBottom {
    bottom: 0;
    right: 0;

    position: absolute;
}

.pictureRight{
    width: 386px;
    height: 773px;
    position: absolute;
    bottom: 130px;
    left: 73%;
    background-image: url("../img/molishadebeiying.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.triangleTopRight {
    height: 0;
    width: 0;
    border-top: 10px solid var(--txtcolor);
    border-left: 10px solid transparent;
    right: 0;
    top: 0;

    position: absolute;
}

.triangleBottomLeft {
    height: 0;
    width: 0;
    border-bottom: 10px solid var(--txtcolor);
    border-right: 10px solid transparent;
    left: 0;
    bottom: 0;

    position: absolute;
}