:root{
    --bgcolor: white;
    --txtcolor: black;
    --sdcolor: rgba(0, 0, 0, 0.135);
    --cdcolor: rgb(234, 234, 234);

    /* --htmlText: 62.5%; */
    --navText: 3rem;
    --arcText: 2rem;

    --codeWrap: pre-wrap;

    --postChdmt: 65px; /*postContentHeadersMargin-top*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
    -webkit-text-size-adjust: 100%;
}

::selection {
    background-color: var(--txtcolor);
    color: var(--bgcolor);
}

body {
    font-size: 1.6rem;
    color: var(--txtcolor);
    background-color: var(--bgcolor);
}

nav {
    top: 0;
    width: 100lvw;
    min-height: 65px;
    height: 7vh;
    position: fixed;
    z-index: 1;
    background-color: var(--bgcolor);
    box-shadow: 1px 1px 10px var(--sdcolor);
}

main {
    min-height: 100vh;
    margin-top: max(65px,7svh);
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline 1px;
}

a:active {
    text-decoration: underline dashed 1px;
}

#footer {
    height: 100px;
    width: 100svw;
    text-align: center;
    border-top: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBox {
    height: 100%;
    margin-right: 2rem;
    margin-left: 2rem;
}

#navBoxsLeft,
#navBoxsRight{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navBoxsRight{
    margin-right: 5px;
}

#navBoxsRight{
    right: 0;
}

#navHome{
    left: 0;
}

.navText {
    font-size: var(--navText);
    text-decoration: none;
    text-align: center;
}

#pagination {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
}

.page-number {
    width: 40px;
    text-align: center;
}

.page-prev {
    margin-right: 10px;
    text-align: right;
}

.page-next {
    margin-left: 10px;
    text-align: left;
}

.current {
    border: 1px solid;
}

summary {
    cursor: pointer;
}

/* 在safari去掉那个小三角形 */
details summary::-webkit-details-marker {
    display: none;
}